<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizizz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="/css/homePage.css">
</head>
<body>
    <div class="container">
            {{#if triggerLoading}}
            <script>
            document.addEventListener('DOMContentLoaded', () => {
                showLoading();
                
               
              //  fetch('/api/data')
              //  .then(response => response.json())
               // .then(data => {
                    
               //     hideLoading();
              //  })
               // .catch(error => {
               //     console.error('Error:', error);
               //     hideLoading();
               // });
                  setTimeout(() => {
                    hideLoading();
                }, 2000); 
            });
            </script>
            {{/if}}
        {{#each this.quizzesOfCategory}}
            <section class="category">
                    <h2 class="category-title"><i class="fas fa-calculator"></i>{{name}}</h2>
                     <div class="category-carousel">
                        {{#each quizzes}}
                                <a href="/quiz/quizzes/{{id}}" class="text-decoration-none">
                                    <div class="card">
                                    <img src={{image}} alt="Math Equation">
                                    <div class="card-content">
                                        <h3 class="card-title">{{title}}</h3>
                                        <div class="card-details">
                                            <span>{{numberOfQuestions}} Câu hỏi</span>
                                           
                                        </div>
                                    </div>
                                </div>  
                                </a>
                        {{/each}}
                    </div>
            </section>
        {{/each}}



        
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.category-carousel').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                dots: false,
                arrows: true,
                autoplay: true,
                autoplaySpeed: 3000,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            infinite: true,
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    </script>
</body>
</html>